/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: sans-serif;
    font-size: 100%;
    background-image: url(../images/paper.gif);
}

body {
    background-color: white;
    font-size: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 5px solid steelblue;
    box-shadow: 0 0 12px grey;
}

header {
    border-bottom: 2px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
}

header img {
    float: left;
}

h1 {
    margin-left: 30px;
    margin-top: 30px;
}

header h2 {
    text-indent: 60px;
    color: steelblue;
    text-shadow: 2px 2px 8px grey;
    font-size: 250%;
    margin-top: 15px;
}



/* Horizontal Navigation Bar */
#nav_menu ul{
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    background-color: lightblue;
}

#nav_menu ul li{
    display: inline;
    padding: 5px 25px;
    border-right: 3px solid black;
}

#nav_menu #last {
    border: none;
}

#nav_menu ul li a {
    text-decoration: none;
    font-weight: bold;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
    color: white;
}
/* closing of bar */


/* Vertical Navigation List */
#nav_list ul{
    list-style: none;
    text-align: center;
}

#nav_list ul li{
    width: 84%;
}

#nav_list ul li a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightblue;
    padding: .5em;
    border: 2px solid black;
}

#nav_list ul li a:hover{
    background-color: steelblue;
    color: white;
}
/* closing of list */



header h3 {
    text-indent: 60px;
    font-size: 150%;
    margin-top: 15px;
    margin-bottom: 20px;
}

main {
    clear: both;
}

section p {
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 30px;

}

section blockquote {
    font-size: 85%;
    color: navy;
    margin-left: 70px;
    margin-right: 50px;
    margin-bottom: 15px;
    border-left: 3px solid maroon;
    padding-left: 5px;
    background-color: lightgray;
}

section h2 {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 15px;
}

section a {
    margin: 30px;
}

/* unvisited link */
main a:link {
    color: maroon;
}

/* visited link */
main a:visited {
    color: maroon;
}

/* mouse over link */
main a:hover {
    color: steelblue;
}

/* unvisited link */
aside a:link {
    color: steelblue;
}

/* visited link */
aside a:visited {
    color: steelblue;
}

/* mouse over link */
aside a:hover {
    color: maroon;
}

aside li {
    margin: 10px 0;
    margin-left: 27px;
    margin-bottom: 12px;
}

aside h2 {
    margin-left: 10px;
    margin-bottom: 20px;
    color: maroon;
    padding-left: 15px;
}

footer {
    font-size: 65%;
    text-align: center;
    background: steelblue;
    color: white;
    padding: 25px;
    font-weight: bold;
    font-variant: small-caps;
    clear: both;
}

.homesection {
    width: 64%;
    float: right;
    padding-right: 15px;
    padding-left: 15px;
}

.sidebar {
    width: 35%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 35px;
}


